# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Environment files
*.env

# VS Code
.vscode/

# OS files
.DS_Store

# Redis
dump.rdb

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
*.sqlite3-journal